{% extends 'Blog/base.html'%}
{% load static %}
{% block title %}
Pet Hedgehog
{% endblock %}

{% block body %}
<div class="leftcolumn">
{%for part in data%}
    <div class="card mb-4">
        <img src="{{ part.image.url }}" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url part.url %}">{{part.name}}</a></h5>
        <p class="card-text">{{part.about}}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
{%endfor%}
</div>
<div class="rightcolumn">
    <div class="card">
      <h2>About me</h2>
        <img src="{% static 'Blog/images/22.jpg'%}" alt="">
      <p>Some text about me </p>
    </div>
    <div class="card">
      <h3>Random post</h3>
        {% for post in posts%}
      <div class="fakeimg">{{post}}</div><br>
        {%endfor%}
    </div>
    <div class="card">
      <h3>Send me!!!</h3>
        <a href="http://qrcoder.ru" target="_blank"><img src="http://qrcoder.ru/code/?http%3A%2F%2Ft.me%2FMemphisAton&4&0" width="222" height="222" border="0" title="QR код"></a>
      <p>Some text..</p>
    </div>
  </div>
{% endblock %}