{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {% static 'Blog/css/testpage.css' %}">
    <title>Робот NAO</title>
</head>
<body class="element-for-gradient">


<table>
    <tr>
        <h1>H-LEX - новый экзоскелет тяжелого класса от компании Hyundai</h1>
    </tr>
    <tr>
        <td>
    <img src="{% static 'Blog/images/test/hlex.jpg'%}">
        </td>
        <td>
<p>Компания Hyundai продемонстрировала вниманию общественности новый
    опытный образец экзоскелета тяжелого класса, который можно назвать
    термином "одеваемый робот". Этот экзоскелет, весьма похожий на то,
    что многим из нас доводилось видеть в нескольких научно-фантастических
    фильмах, дает человеку "нечеловеческую" силу и способность поднимать
    грузы, весом в сотни килограмм, и его можно будет использовать в области
    промышленного производства,в военном деле и в медицине для процедур
    восстановления физического состояния человека.</p>
        </td>
    </tr>
    <tr>
        <td>
    <img src="{% static 'Blog/images/test/hlex_man.jpg'%}">
        </td>
        <td>
<p>Новый экзоскелет является продолжением разработки серии H-LEX (Hyundai Lifecaring
    ExoSkeleton), представленной компанией в прошлом году. Первые экзоскелеты из этой
    серии были более легкими и предназначались, в первую очередь, для оказания помощи
    в движении пожилым людям и людям с физическими отклонениями. К сожалению, большая
    часть информации относительно нового экзоскелета, в том числе и технического плана,
    пока не была опубликована компанией Hyundai, но, будем надеяться, что эта ситуация
    будет исправлена в ближайшем времени.</p>
        </td>
    </tr>
</table>

<br>
################################################################################################################################################
<br>

<table>
    <tr>
        <td>
            <p>red</p>
        </td>
        <td>
            <p>green</p>
        </td>
        <td>
            <p>blue</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>2</p>
        </td>
        <td>
            <p>3</p>
        </td>
    </tr>
</table>


<br>
################################################################################################################################################
<br>



    <h1>«NAO - самая развитая гуманоидная платформа на сегодняшний день»</h1>
    <p>Робот умеет практически все: общаться и узнавать собеседника,
    ходить, сидеть, наносить удары, брать вещи, подниматься по лестнице...</p>
    <br>
     <img src="{% static 'Blog/images/nao.jpeg'%}">

    <p><a href="{% static 'Blog/images/nao_group.jpeg'%}">...и даже танцевать</a> </p>
</body>
</html>